PORT=
EUSER=
EPASS=
EHOST=
EPORT=
SEED=
TIME_TOKEN=
SENDGRID_API_KEY=
ZACATUCHE_HOST=
MANATI_HOST=
SPECIES_HOST=
MIDDLEWARE_HOST=
REGIONS_HOST=
SNIB_HOST=
WORLDCLIM_HOST=
GBIF_HOST=
DEM_HOST=
MESH_DB_HOST=
MESH_DB_PORT=
MESH_DB_NAME=
MESH_DB_USER=
MESH_DB_PWD=
REDIS_URL=
